{% extends "base.html" %} {% block content %}
<h1>Add Genre</h1>
<form action="/genres/add" method="POST">
  <div class="mb-3">
    <label for="movieid" class="form-label">Movie</label>
    <select id="movieid" name="movieid" class="form-select" required>
      {% for movie in movies %}
      <option value="{{ movie.movieid }}">{{ movie.title }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="movie_genre" class="form-label">Genre</label>
    <input
      type="text"
      id="movie_genre"
      name="movie_genre"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}
