{% extends "base.html" %}

{% block content %}
<h1>Add New Movie</h1>
<form action="/movies/add" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="release_date" class="form-label">Release Date</label>
        <input type="date" id="release_date" name="release_date" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input type="time" id="duration" name="duration" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form

{% endblock %}
