{% extends "base.html" %}

{% block content %}
<h1>Manage Payments</h1>

<!-- Add New Payment -->
<a href="/payments/add" class="btn btn-primary mb-3">Add New Payment</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Amount</th>
            <th>Payment Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr> 
            <td>{{ payment.payment_id }}</td>
            <td>{{ payment.payment_amount }}</td>
            <td>{{ payment.card_no }}</td>
            <td>{{ payment.payment_date }}</td>
            <td>{{ payment.payment_method }}</td>
            <td>{{ payment.subscription_id }}</td>
            <td>
                <a href="/payments/edit/{{ payment.payment_id }}" class="btn btn-warning btn-sm">Edit</a>
                <form action="/payments/delete/{{ payment.payment_id }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>

{% endblock %}
